// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img-container  {
    margin: auto;
    height: 200px;
    width: 200px;
}

#img_prev{
}

.blog-body{
    min-height: 600px;
}
.image-upload{
    height: 15px  !important;
    max-width: 300px;
    font-size: 1rem !important;
}
.heading-primary-h1{
    color: white;
    background-color: #00adb5;
    width: 85vw;
    margin: auto;
    padding: 1rem 0;
    text-align: center;
}
.container{
   background-color: white;
   width: 85% !important;
   padding: 3rem 1rem;
}
.main-body{
    background-color: #eeeeee;
    padding: 3rem 0;
}