// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img-container  {
    margin: auto;
    height: 200px;
    max-width: 90%;
}

#img_prev{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.blog-body{
    min-height: 600px;
    max-height: 1000px;
    overflow-y: scroll;
}
.image-upload{
    height: 15px  !important;
    max-width: 300px;
    font-size: 1rem !important;
}
.heading-primary-h1{
    color: white;
    background-color: #00adb5;
    width: 85vw;
    margin: auto;
    padding: 1rem 0;
    text-align: center;
}
.container{
   background-color: white;
   width: 85% !important;
   padding: 3rem 1rem;
}
.main-body{
    background-color: #eeeeee;
    padding: 3rem 0;
}
.hero-image-container{
    position: relative;
}
.hero-image-heading{
    &-container{
    color: white;
    position: absolute;
    background-color:#00adb5 ;
    top: 100%;
    right: 5%;
    transform: translate(0,-50%) skewX(-20deg);
    padding: 0.5rem 2rem;
    }
    &-text{
        display: block;
        transform: skewX(20deg);
    }
}

.top-info-container{
    display: flex;
    justify-content: space-between;
}
.btn-icon{
    background-color: white !important;
    border-style: none;
    color:  #00adb5;
}
a,
a:link,
a:visited{
    text-decoration: none !important;
}
#delete-icon{
    color: rgb(245, 33, 33);
}
.time{
    margin: 20px 0;
    font-weight: 500;
    color: rgb(110, 110, 110);
    
}
.link-articles-list{
    position: absolute;
    top: 0;
    left: 1.5%;
}
.btn-icon-list{
    background-color: transparent;
    border-style: none;
    color: #eeeeee;
    font-size: 40px;
}