@import 'bootstrap/dist/css/bootstrap';

.navbar {
  background-color: #222831 !important;
}

.nav-link {
  color: white !important;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
.btn-search{
  &,
  &:link,
  &:visited
  { color: #00adb5;
    border-color: #00adb5;
    font-weight: 500;
    border-width: 3px;
    padding: 2px 10px !important;}
 
  &:hover{
    background-color: #00adb5;
    color: white;
  }
}
.btn-post{
  color:   white;
  background-color: #2ecc71;
  text-transform: uppercase;
  margin-right: 5px;
}
i{margin-right: 2px;}